# Router
ROUTER_PORT=3068
WILDCARD_BASE_DOMAIN=echosphere.cfd
MONGODB_URI=mongodb://wc_root:replace-with-a-strong-password@mongo:27019/?authSource=admin
MONGODB_DATABASE=routegate
FRONTEND_ROUTE_SUBDOMAIN=routegate
FRONTEND_ROUTE_DESTINATION=http://frontend:3000
